<!DOCTYPE html>
<html>
<head>
    <title>Experience</title>
    {% javascripts
    'vendor/jquery/jquery.js'
    'bundles/rakutenexperience/js/knockout-3.0.0.js'
    'bundles/rakutenexperience/js/knockout.mapping-latest.js'
    'bundles/rakutenexperience/js/script.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


{#    <link rel="stylesheet" type="text/css" href="css/Style.css">#}

</head>
<body>

{#<button data-bind="click: addTask, enable: tasks().length < 5">New Task</button>

<div>
    all <input type="checkbox" data-bind='checked: all' />
    <button data-bind='click: deleteAll, visible: incompleteTasks().length == 0'>delete All</button>
</div>

<div id="tasksList">
    <ul data-bind="foreach: tasks, visible: tasks().length > 0">
        <li>
            <input type="checkbox" data-bind="checked: isDone" />
            <input data-bind="value: title, disable: isDone" />
            <a href="#" data-bind="click: $parent.removeTask">Delete</a>
        </li>
    </ul>
</div>

You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)#}

The time on the server is: <span data-bind='text: serverTime'></span>
and <span data-bind='text: numUsers'></span> user(s) are connected.

</body>
</html>